<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/header :: head('My Bookings')}"></th:block>
</head>

<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <section class="home-slider owl-carousel">
        <div class="slider-item" th:style="|background-image: url('@{/images/bg_1.jpg}')|"
            data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                    <div class="col-md-7 col-sm-12 text-center ftco-animate">
                        <h1 class="mb-3 mt-5 bread">My Bookings</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Phone</th>
                                    <th>Message</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${#lists.isEmpty(bookings)}">
                                    <td colspan="7">
                                        <h5>Your Booking is Empty</h5>
                                    </td>
                                </tr>
                                <tr class="text-center" th:each="b : ${bookings}">
                                    <td th:text="${b.firstName}"></td>
                                    <td th:text="${b.lastName}"></td>
                                    <td th:text="${b.dateString}"></td>
                                    <td th:text="${b.timeString}"></td>
                                    <td th:text="${b.phone}"></td>
                                    <td th:text="${b.message}"></td>
                                    <td th:text="${b.status}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>

</html>