server:
  port: 8000

app:
  api-prefix: /api

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: auth_service
            uri: http://localhost:8001
            predicates:
              - Path=${app.api-prefix}/auth-service/**
            filters:
              - StripPrefix=1
          - id: profile_service
            uri: http://localhost:8002
            predicates:
              - Path=${app.api-prefix}/profile/users/**
            filters:
              - StripPrefix=1