server:
  port: 8003
  servlet:
    context-path: /profiles
spring:
  application:
    name: profile-service
  datasource:
    url: "jdbc:mysql://localhost:3306/profile_db"
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345678
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true