server:
  port: ${SERVER_PORT:8003}
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:/profiles}

spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: profile-service
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/profile_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Ho_Chi_Minh}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    show-sql: ${JPA_SHOW_SQL:true}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9094}
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:profile-service-group}
      auto-offset-reset: ${KAFKA_AUTO_OFFSET_RESET:earliest}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "${KAFKA_JSON_TRUSTED_PACKAGES:com.service.profile.events,com.service.auth.events}"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

jwt:
  signerKey: "${JWT_SIGNER_KEY}"

app:
  services:
    order: ${ORDER_SERVICE_URL:http://localhost:8002/order-service}
    auth: ${AUTH_SERVICE_URL:http://localhost:8001/auth-service}
    notification: ${NOTIFICATION_SERVICE_URL:http://localhost:8006/notification-service}