server:
  port: 8003
  servlet:
    context-path: /profiles
spring:
  application:
    name: profile-service
  datasource:
    url: "jdbc:mysql://localhost:3306/profile_db"
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 12345678
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  # kafka:
  #   bootstrap-servers: localhost:9094
  #   consumer:
  #     group-id: profile-service-group
  #     auto-offset-reset: earliest
  #     key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  #     value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
  #     properties:
  #       spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
  #       spring.json.trusted.packages: "com.service.profile.events,com.service.auth.events"
  #   producer:
  #     key-serializer: org.apache.kafka.common.serialization.StringSerializer
  #     value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"

app:
  services:
    order: http://localhost:8002/order-service