server:
  port: 8002
  servlet:
    context-path: /order-service
  tomcat:
    uri-encoding: UTF-8

spring:
  application:
    name: order-service
  mvc:
    locale: vi_VN
    locale-resolver: accept-header
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  datasource:
    url: "jdbc:mysql://localhost:3306/order_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  thymeleaf:
    cache: false
    enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: hyngotraidat@gmail.com
    password: aeca cqkr gahw nfvr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

logging:
  charset:
    console: UTF-8
    file: UTF-8
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"

auth:
  service:
    url: http://localhost:8001/auth-service

# Feign configuration
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000
        loggerLevel: basic
      catalog-service:
        connectTimeout: 5000
        readTimeout: 10000
        loggerLevel: basic
  httpclient:
    enabled: true
    max-connections: 200
    max-connections-per-route: 50

# Nominatim configuration
nominatim:
  userAgent: "coffee-order-service/1.0 (contact: youremail@example.com)"
  email: "caoha3829@gmail.com"
# Geocoding configuration
geocoding:
  api:
    key: "dd6d33ea0b6b467b9b2ffed8e92c4e1a"
  mandatory: true  # Set to false to allow branch creation without geocoding
